# Core Libraries
numpy==1.23.5
pandas==1.4.2
scipy==1.9.3
python-dateutil==2.8.2
datetime==4.0.1
joblib==1.1.0
requests==2.26.0

# Machine Learning
scikit-learn==1.0.2
xgboost==1.5.0
imbalanced-learn==0.8.1

# Deep Learning
tensorflow==2.10.0

# Visualization
matplotlib==3.5.2
seaborn==0.11.2

# Flask API
flask==2.0.1
gunicorn==20.1.0
pyngrok==5.1.0
